body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.articleImg {
  width: 100px;
  margin-left: -12px;
}

table {
  border: 1px solid #dee1e6;
}

table thead tr {
  color: #28a745;
}

table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}

table thead th  {
  padding: 20px 24px !important;
}

table tbody tr td  {
  padding: 20px 24px !important;
}

table.tablesorter .tablesorter-headerAsc {
  background-image: url(../images/asc.png);
  background-repeat: no-repeat;
  background-position: 6px 22px;
  background-size: 15px;
  right: 0px;
}

table.tablesorter .tablesorter-headerDesc {
  background-image: url(../images/desc.png);
  background-repeat: no-repeat;
  background-position: 6px 22px;
  background-size: 15px;
  right: 0px;
}