doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor-css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    script(src="/javascripts/app.js")

  body
    block content
